form {
  background: grey;
  height: 15rem;
  background: lightsteelblue;
  display: flex;
  justify-content: space-evenly;
}

form .fields {
  width: 80%;
  height: 2rem;
  margin: 0 auto;
  border-radius: 5px;
  border: none;
  text-indent: 1rem;
}

form button {
  width: 35%;
  height: 2rem;
  margin: 0 auto;
  border-radius: 5px;
  border: none;
}
